body {
text-align : center;
    font-family: Helvectica, sans-serif;
    background-color: #b2718b;
    max-width: 500px;
    margin: auto;

    }
    
    h1 {
        color: #322027
    }
    h2 {
        color: #5d3b49
    }